

form input[type="submit"]:hover{
	cursor:pointer;
}
form input[type="reset"]{
	width:25%;
	padding:8px 16px;
	margin-top:32px;
	border:1px solid #000;
	border-radius:5px;
	display:block;
	color:#fff;
	background-color:#000;
} 

form input[type="reset"]:hover{
	cursor:pointer;
}
form option{
	width:25%;
	padding:8px 16px;
	margin-top:32px;
	border:1px solid #000;
	border-radius:5px;
	display:block;
	color:#fff;
	background-color:#000;
} 

form option:hover{
	cursor:pointer;
}

.caja {
	margin:20px auto 40px auto;	
	border:1px solid #d9d9d9;
	height:30px;
	overflow: hidden;
	width: 270px;
	position:relative;
 }
 select {
	background: rgb(221, 221, 221);
	border: none;
	font-size: 15px;
	
	height: 30px;
	padding: 5px;
	width: 250px;
 }
 select:focus{ outline: none;}
 
 .caja::after{
	 content:"\025be";
	 display:table-cell;
	 padding-top:7px;
	 text-align:center;
	 width:30px;
	 height:30px;
	 background-color:#d9d9d9;
	 position:absolute;
	 top:0;
	 right:0px;	
	 pointer-events: none;
 }


 .form {
	width: 200%;
	max-width: 600px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
  }
  
  .form input {
	width: 40%;
	height: 80px;
	margin: 0.5rem;
  }
  
  .form button {
	padding: 0.5em 1em;
	border: none;
	background: rgb(100, 200, 255);
	cursor: pointer;
  }